<!DOCTYPE html>
<html>
    <head>
        <title>D3 Example</title>

        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.3/nv.d3.min.css">

        <style>
            .chart svg {
                height: 400px;
            }
        </style>
    </head>
    <body>
        <h1>D3 Example</h1>

        <div class="chart" id="chart1">
            <svg></svg>
        </div>

        <div class="chart" id="chart2">
            <svg></svg>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.3/nv.d3.min.js"></script>
        <script>
            nv.addGraph(function() {
                var chart = nv.models.scatterChart()
                    .showDistX(true)
                    .showDistY(true)
                    .color(d3.scale.category10().range());

                chart.xAxis.tickFormat(d3.format('.02f'));
                chart.yAxis.tickFormat(d3.format('.02f'));

                d3.select('#chart1 svg')
                    .datum(data1(4,40))
                    .transition().duration(500)
                    .call(chart);

                nv.utils.windowResize(chart.update);

                return chart;
            });

            nv.addGraph(function() {
                var chart = nv.models.multiBarChart();

                chart.xAxis
                    .tickFormat(d3.format(',f'));

                chart.yAxis
                    .tickFormat(d3.format(',.1f'));

                d3.select('#chart2 svg')
                    .datum(data2())
                    .transition().duration(500)
                    .call(chart);

                nv.utils.windowResize(chart.update);

                return chart;
            });

            function data1(groups, points) {
              var data = [],
                  shapes = ['circle', 'cross', 'triangle-up', 'triangle-down', 'diamond', 'square'],
                  random = d3.random.normal();

              for (i = 0; i < groups; i++) {
                data.push({
                  key: 'Group ' + i,
                  values: []
                });

                for (j = 0; j < points; j++) {
                  data[i].values.push({
                    x: random()
                  , y: random()
                  , size: Math.random()
                  //, shape: shapes[j % 6]
                  });
                }
              }

              return data;
            }

            function data2() {
              return stream_layers(3,10+Math.random()*100,.1).map(function(data, i) {
                return {
                  key: 'Stream' + i,
                  values: data
                };
              });
            }

            /* Inspired by Lee Byron's test data generator. */
            function stream_layers(n, m, o) {
              if (arguments.length < 3) o = 0;
              function bump(a) {
                var x = 1 / (.1 + Math.random()),
                    y = 2 * Math.random() - .5,
                    z = 10 / (.1 + Math.random());
                for (var i = 0; i < m; i++) {
                  var w = (i / m - y) * z;
                  a[i] += x * Math.exp(-w * w);
                }
              }
              return d3.range(n).map(function() {
                  var a = [], i;
                  for (i = 0; i < m; i++) a[i] = o + o * Math.random();
                  for (i = 0; i < 5; i++) bump(a);
                  return a.map(stream_index);
                });
            }

            /* Another layer generator using gamma distributions. */
            function stream_waves(n, m) {
              return d3.range(n).map(function(i) {
                return d3.range(m).map(function(j) {
                    var x = 20 * j / m - i / 3;
                    return 2 * x * Math.exp(-.5 * x);
                  }).map(stream_index);
                });
            }

            function stream_index(d, i) {
              return {x: i, y: Math.max(0, d)};
            }
        </script>
    </body>
</html>